.div_logo h1{
  color: rgb(209, 179, 237);
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
.main_photo{
    width: auto;
    height: auto;
  display:flex;
  justify-content: space-evenly;
    margin: 20px;
    box-shadow: 5px 7px 20px magenta;
}
.div_main_photo1{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid grey;
 background: url(ph1.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
}
.div_main_photo2{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid grey;
  background: url(ph2.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
}
.div_main_photo3{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid grey;
  background: url(ph3.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
}
.div_main_photo4{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid grey;
  background: url(ph4.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
}
.div_main_photo5{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid grey;
  background: url(ph5.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
}
.div_main_photo6{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid grey;
  background: url(ph6.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
}
video{
  width: 100%;
  height: 500px;
  margin-top: 50px;
  border-radius: 50px;
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);

}
h5{
  padding-right: 50px;
  font-size: 30px;
}
